[submodule "cloner"]
	path = cloner
  url = git@github.com:didalik/dak.org.thc.git

[submodule "dak/util/meta"] # TODO use submodule "cloner" instead
	path = dak/util/meta
  url = ssh://alik@w10:/home/alik/people/didalik/dak/util/meta

